# Node.js
node_modules/
yarn.lock
/pnpm-lock.yaml  # Include if using pnpm

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*  # Include if using pnpm

# Coverage reports
coverage/

# Build output
dist/  # Or replace with your build directory name

# Testing frameworks
**/__tests__/**/*
test.js
test.jsx
jest/**/*.js

# Temporary files
.cache/