/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';
.error-message{
    color:red;
    font-size: 15px;
}

  .success-message{
    color:green;
    font-size: 15px;
  }
.mandatory{
  color:red
}
